<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttt.dishes.mapper.UserFavoriteMapper">

    <select id="getFavoritesByUserId" resultType="com.ttt.entity.user.UserFavorite">
        SELECT * FROM t_user_favorite
        WHERE user_id = #{userId}
    </select>

    <!-- 添加收藏 -->
    <insert id="addFavorite" parameterType="com.ttt.entity.user.UserFavorite">
        INSERT INTO t_user_favorite (user_id, dish_id, create_time)
        VALUES (#{userId}, #{dishId}, NOW())
    </insert>

    <!-- 删除收藏 -->
    <delete id="deleteFavorite">
        DELETE FROM t_user_favorite
        WHERE user_id = #{userId} AND dish_id = #{dishId}
    </delete>
    <delete id="deleteDishById">
        delete from t_dish where id = #{dishId}
    </delete>
</mapper>
