<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttt.ai.mapper.FoodAnalyzerMapper">
    <insert id="saveDishes">
        insert into t_dish(name,category_id,ingredients,allergies,calories,protein,fat,carbohydrate,fiber,vitamins,minerals,meal_type,image_url)
        values (#{name},#{category_id},#{ingredients},#{allergies},#{calories},#{protein},#{fat},#{carbohydrate},#{fiber},#{vitamins},#{minerals},#{mealType},#{imageUrl})
    </insert>
    <insert id="saveCateGory">
        insert into t_dish_category(name)values (#{category})
    </insert>


    <select id="getFoodInformationByName" resultType="com.ttt.resp.ai.FoodAnalyzerResp">
        select d.name,d.ingredients,d.allergies,d.calories,d.protein,d.fat,d.carbohydrate,d.fiber,d.vitamins,d.minerals,
               c.name as category from t_dish as d left join t_dish_category as c on d.category_id=c.id where d.name=#{foodname}
    </select>
    <select id="getCategoryIdByName" resultType="java.math.BigInteger">
        select id from t_dish_category where name=#{category}
    </select>
</mapper>